// This way we turn CSS Modules off and apply these css rules globaly
:global {

  body {
    padding-top: 20px;
  }

  .edt-logo {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .active:visited,
  .active {
    color: purple;
    font-weight: bold;
    text-decoration: underline;
  }


  .form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;

    button {
      margin-top: 30px;
    }
  }

  h1 {
    width: 306px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  // scss-lint:disable IdSelector
  #nav.affix {
    position: fixed;
    top: 3px;
    width: 80%;
    z-index: 10;
  }

}
