// Any non webpack assets can be imported here
// Others will be served via webpack-dev-server
.something {
  color: pink;
}


.react-lightbox {

}

.react-lightbox-image {
  float: left;
  width: 50px;
  height: 50px;
  background-size: cover;
  margin: 10px;
  cursor: pointer;
}

.react-lightbox-overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at center, rgba(25,25,25,0.7) 0%,rgba(25,25,25,0.5) 100%);
  transition: opacity 0.5s ease-in-out;
}

.react-lightbox-overlay-open {
  opacity: 1;
}

.react-lightbox-carousel-image {
  position: fixed;
  max-width: 600px;
  max-height: 600px;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.25s ease-in, opacity 0.25s ease-in;
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.react-lightbox-carousel-image-backward {
  transform: translate3d(-400px, 0, 0);
  opacity: 0;
}
.react-lightbox-carousel-image-forward {
  transform: translate3d(400px, 0, 0);
  opacity: 0;
}

.my-controls {
  position: absolute;
  width: 600px;
  height: 100px;
  text-align: center;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
}
.my-button {
  font-size: 24px;
  background-color: #EAEAEA;
  border-radius: 50%;
  width: 50px;
  line-height: 50px;
  height: 50px;
  color: #333;
  cursor: pointer;
  font-weight: bold;
  font-family: 'Arial Black';
  opacity: 0.8;
}
.my-button:hover {
  background-color: #FFF;
}
.my-button-left {
  float: left;
}
.my-button-right {
  float: right;
}

@import 'lightbox';
